
:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-family: 'Helvetica Neue', sans-serif;
}

#header {
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;

    & h2 {
        color: darkslategray;
        font-family: 'Arial', sans-serif;
    }
}