
:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-family: 'Helvetica Neue', sans-serif;
}

#header {
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;

    & h2 {
        color: var(--secondary-color);
        font-size: 10rem;
    }

    & p {
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    & p:hover {
        color: var(--secondary-color);
        cursor: pointer;
    }
}

h1 {
    color: green !important;
  } 
  
  .esta-es-una-clase {
    color: blue;
  }   
  
  .esta-es-una-clase:hover {
    color: purple;
    font-size: 20px;
  }
  
  h2 {
    color: orange;
  }
  
  img {
    width: 50%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
    padding: 10px;
  }